<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map View</title>
</head>
<body>
    <div>
        <iframe src="https://www.onemap.gov.sg/minimap/mm.html?mapStyle=Default&zoomLevel=12&ewt=JTNDcCUzRSUzQ3N0cm9uZyUzRVBsZWFzZSUyMGVudGVyJTIweW91ciUyMFRleHQlMjBpbiUyMHRoZSUyMFBvcHVwJTIwQ3JlYXRvci4lM0MlMkZzdHJvbmclM0UlM0NiciUyMCUyRiUzRSUzQ2ltZyUyMHNyYyUzRCUyMmh0dHBzJTNBJTJGJTJGZG9jcy5vbmVtYXAuc2clMkZpbWFnZXMlMkZsb2dvLnBuZyUyMiUyMCUyRiUzRSUzQ2JyJTIwJTJGJTNFJTNDYnIlMjAlMkYlM0UlM0NhJTIwaHJlZiUzRCUyMmh0dHBzJTNBJTJGJTJGd3d3Lm9uZW1hcC5nb3Yuc2clMkYlMjIlM0VPbmVNYXAlM0MlMkZhJTNFJTNDJTJGcCUzRQ==&popupWidth=200&showPopup=true" height="600" width="600" scrolling="no" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
    </div>
    
</body>
</html>